
    <p>Welcome to our Angular application that displays air pollution statistics from various locations around the world.</p>
    <p><strong>Map Legend:</strong></p>
    <ul>
        <li><img src="/assets/marker-icon_blue.png">Good</li>
        <li><img src="/assets/marker-icon_green.png">Fair</li>
        <li><img src="/assets/marker-icon_yellow.png">Moderate</li>
        <li><img src="/assets/marker-icon_orange.png">Poor</li>
        <li><img src="/assets/marker-icon_red.png">Very Poor</li>
    </ul>

    <p>Click on a location on the map to determine its coordinates. You can name this location and add it to the list of monitored places.</p>
    
    <p>Comparative charts will be generated for locations marked on the map or in the table. The list of places is editable.</p>
    
    <p>You can sort data by clicking on the column header and filter using sliders to specify the minimum and maximum values for each pollutant.</p>