html, body {
  height: 100%; 
  margin: 0; 
  padding: 0; 
  overflow: hidden; 
  font-family: Arial, sans-serif; 
}
.nav-tabs {
  list-style-type: none;
  padding: 25px;
  margin: 0;
  display: flex;
  justify-content: center;
  background-color: #f8f9fa; 
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1); 
}

.nav-tabs li {
  margin: 0 10px;
}

.nav-tabs a {
  text-decoration: none;
  padding: 10px 20px;
  border: 2px solid transparent; 
  border-radius: 8px;
  color: #333; 
  transition: border-color 0.3s ease, background-color 0.3s ease, color 0.3s ease; 
}

.nav-tabs a:hover {
  background-color: #e9ecef;
  border-color: #025910; 
  color: #000000; 
}

