
body {
    font-family: Arial, sans-serif; 
    background-color: #f5f5f5; 
    margin: 0;
    padding: 0;
  }
  
  
  .filters_content {
    display: flex;
    gap: 20px; 
  }
  
  .filters_content > div {
    flex: 0 1 calc(25% - 20px); 
    padding: 15px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  }
  

  .filters_content p {
    margin: 10px 0 5px;
    font-weight: bold;
    color: #333;
  }
  

  .filters_content input[type="number"],
  .filters_content input[type="range"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  

  .submit-button, .reset-button {
    flex-basis: 40%; 
    padding: 10px;
    margin-top: 20px;
    border: none;
    border-radius: 4px;
    background-color: #099bb2;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
  }
  
  .submit-button:hover {
    background-color: #077a8e;
  }

  .reset-button:hover {
    background-color: #03414c;
  }

  .buttons-content{
    display: flex;
    justify-content: space-between;
  }
  
  .form-container {
    max-width: 100%;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    overflow-y: auto; 
    max-height: 400px; 
}


@media (max-width: 1200px) {
  .form-container {
    padding: 10px;
    max-height: none; 
  }


  .filters_content input[type="number"],
  .filters_content input[type="range"] {
    width: calc(100% - 5px); 
    padding: 6px;
    font-size: 14px;
  }


  .filters_content p {
    margin: 8px 0 4px; 
  }


  .submit-button, .reset-button {
    padding: 8px; 
    font-size: 14px;
  }
  .filters_content {
    display: flex;
    flex-direction: column;
  }

}
